language: go
go_import_path: github.com/etherlabsio/errors
go:
  - "1.10"
  - "1.11"
  - "tip"

script:
  - go test -race -v ./... -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)